---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Jezrel Palabrica's Portfolio" description="This is my active portfolio that I'll be using for work and other stuff :)">
    <Card
      name="Jezrel Palabrica"
      position="Entry-Level IT Support Technician"
      aboutMe={`Hey! I’m Jezrel, an IT graduate with a strong interest in technology, troubleshooting, and continuous learning. I enjoy working with computer systems, exploring new tools, and solving technical problems with care and attention to detail. I’m always eager to grow through hands-on experience and contribute to projects that help people.<br><br>You can contact me <a href="mailto:jezwkwk@gmail.com">here</a>.`}
      facebook="https://www.facebook.com/jezzabuu4" 
      github="https://github.com/jzrxl"
      linkedin="https://www.linkedin.com/in/jezrelpalabrica/"
      cvLink="/resume/"
      email="jez.palabrica@gmail.com"
      profileImage="/images/profile2.webp"
    />
</BaseLayout>