---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Jezrel Palabrica"
	  position="Entry-Level IT Support Technician"
	  aboutMe={`Hey! I'm Jezrel, an IT graduate and aspiring web developer passionate about building responsive websites and solving technical problems.\n\nI enjoy working with modern web tools, learning new technologies, and creating projects that help people.\n\nLet’s collaborate and bring ideas to life!<br><br>You can contact me <a href="mailto:jezwkwk@gmail.com">here</a>.`}
	  linkedin="https://www.linkedin.com/in/jezrelpalabrica/"
	  github="https://github.com/jzrxl"
	  cvLink="/files/resume-cv.pdf"
	  profileImage="/images/profile2.webp"
	/>
</BaseLayout>
