---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Resume | Jezrel">
  <div style="height: 100vh; display: flex; flex-direction: column;">
    <iframe 
      src="/image/jez_resume.pdf" 
      width="100%" 
      height="100%" 
      style="border: none;">
    </iframe>
  </div>
</BaseLayout>
